files:
  /opt/elasticbeanstalk/hooks/appdeploy/pre/10_yarn_and__webpack_permissions.sh:
    mode: "000777"
    owner: root
    group: root
    content: |
      #! /bin/bash
      cd /var/app/ondeck && sudo yarn
      chown webapp:webapp /var/app/ondeck/node_modules
      chmod -R +x /var/app/ondeck/bin